# Git Ignore.

# ---
# Continue.dev profile .continue
# ---

.continue/.migrations/
.continue/.utils/
.continue/dev_data/
.continue/index/
.continue/types/

# ---
# Searxng
# ---

combined/searxng/settings.yml.new
